@charset "utf-8";
*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

#main{
	padding:5px 10px;
	display:-webkit-box;
	-webkit-box-orient: vertical;
}

#main .section0{
	min-height: 150px;
	-webkit-box-flex:1;
	margin-bottom: 10px;
}
#main .section1{
	display:-webkit-box;
	-webkit-box-orient: horizontal;
	background:#ff7c8a;
	width:100%;	
	border-radius:5px;
	color:#fff;
	font-size:18px;
	min-height:70px;
	overflow:hidden;
}
#main .section1>div{
	text-align:center;
	-webkit-box-flex:1;
	height:100%;
	line-height:35px;
}

#main .section1 span{
	display:-webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex:1;
	border-top:1px solid;
	border-right:1px solid;
}


#main .section2{
	margin-top:15px;
	background:#efefef;
	border-radius:5px;
	padding:0 10px;
}
#main .section2 p{
	color:#7f8dac;
	font-size:14px;
	padding:0 0;
	border-bottom:1px solid #fff;
}

#main .section2 p:last-child{
	border:0;	
}

#main .section3{
	margin-top:20px;
	background:#fff;
}
#main .section3>div{
	display:-webkit-box;
	width:100%;
}
#main .section3>div:first-child{
	margin-bottom:20px;
}
#main .section3>div>div:first-child{
	margin-right:20px;
}
#main .section3>div>div{
	-webkit-box-flex:1;
	box-flex:1;
	background:#1acbbb;
	color:#fff;
	font-size:15px;
	min-height:50px;
	border-radius:5px;
	position:relative;
}
#main .section3>div>div span{		
	position: absolute;
	width: 100px;
	padding-left: 50px;
	line-height: 45px;
	left: 50%;
	top: 50%;
	margin-left: -50px;
	margin-top: -22px;
}




#main .section3>div:nth-child(1)>div:first-child span{
	background: url(../img/order.png) no-repeat left center;
	background-size: auto 80%;
}
/*#main .section3>div:nth-child(1)>div.unlock:first-child span{
	background: url(../img/unlock.png) no-repeat left center;
	background-size: auto 100%;
}*/
#main .section3>div:nth-child(1)>div:nth-child(2) span{		
	background: url(../img/icon03.png) no-repeat left center;
	background-size: auto 80%;
}
#main .section3>div:nth-child(2)>div:nth-child(1) span{		
	background: url(../img/icon04.png) no-repeat left center;
	background-size: auto  80%;
}
#main .section3>div:nth-child(2)>div:nth-child(2) span{		
	background: url(../img/daohang.png) no-repeat left center;
	background-size: auto  80%;
}

#bottom-nav {
	height:50px;
	background-color: #FFF;
	border-top:1px;
	border-top-style:solid;
	border-top-color: #CCC;
	position: fixed;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 1030;
	margin:0 auto;
	border-width: 1px 0 0;
}

#bottom-nav>.row{
	display:-webkit-box;
	-webkit-box-orient: horizontal;
	padding-top: 10px;
	padding-bottom: 10px;
}

#bottom-nav>.row>div {
	/* border-left:1px;
        border-left-style:solid;*/
	-webkit-box-flex:1;
	text-align:center;
	border-color: #CCC;
	background-color: #FFF;
	color: #999999;
}

#bottom-nav a {
	color: #999999;
}

.bottom-nav-title {
	display: block;
	font-size: 12px;
}

.bottom-nav-img {
	display: block;
	font-size: 15px
}