.loading{
    position:fixed;
    background:rgba(0,0,0,0);
    width:100%;
    height:100%;
    top: 0;
    left: 0;
    z-index: 9999;
}
.loading img{
    position: relative;
    width:50px;
    height:50px;
    top: 50%;
    left:50%;
    margin-left:-25px;
    margin-top: -25px;
    animation: myfirst 1s infinite;
    -moz-animation: myfirst 1.5s linear infinite;	/* Firefox */
    -webkit-animation: myfirst 1s infinite;	/* Safari å’Œ Chrome */
}
@-webkit-keyframes myfirst{
    from{
        -webkit-transform:rotate(0deg);
    }
    to{
        -webkit-transform:rotate(360deg);
    }
}
@-moz-keyframes myfirst{
from{
    -moz-transform:rotate(0deg);
}
to{
    -moz-transform:rotate(360deg);
}
}