<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>xxxx</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,user-scalable=no">

    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/utile/commonUtils.js"></script>
    <script src="js/app.js"></script>
    <script src="js/service/bikeService.js"></script>
    <script src="js/service/userService.js"></script>
    <script src="js/service/geoService.js"></script>
    <script src="js/service/wxService.js"></script>
    <script src="js/ctrl/bikeInfoCtrl.js"></script>

    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/panel.css">
    <link rel="stylesheet" href="css/carinfo.css">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" id="top-nav">
    控制面板
</nav>
<div class="main" ng-controller="bikeInfoController">
    <div class="d_panel">
        <div class="img-area">
            <img src="img/zebra.jpg" width="100" height="120">
        </div>
        <div>
            <div style="font-size: 16px;font-weight: bold;padding-bottom:5px">
                车号: {{bike.id}} 状态 锁车
            </div>
            <div class="detail-info">
                <div><span>距离</span><span>{{bike.distance}}米</span></div>
                <div><span>{{bike.location}}</span></div>
            </div>
            <div class="detail-info">
                <div><span>电量</span><span>{{bike.remainPower}}%</span></div>
                <div><span>已行驶：15公里</span><span>耗时：1：20：30</span></div>
            </div>
        </div>
    </div>
    <div class="article">
        <div><span class="one" ng-click="orderBike(bike,$event)">快速{{bike.nextOrderState}}</span></div>
        <div><span class="one" ng-click="lockBike(bike,$event)">快速{{bike.nextLockState}}</span></div>
    </div>
    <div class="article">
        <div><span class="one" ng-click="findBike(bike,$event)">声视寻车</span></div>
        <div><span class="one" ng-click="navigate(bike,$event)">导航寻车</span></div>
    </div>
    <div class="article">
        <div><span class="one" ng-click="changeBattle(bike,$event)">电池更换</span></div>
        <div><span class="one" ng-click="callUs(bike,$event)">联系我们</span></div>
    </div>
</div>


</body>
</html>