<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="css/css.css" rel="stylesheet" type="text/css" />
</head>

<body ng-controller="bikeInfoController">
    <div class="box">
        <div class="top_info">
			<div class="head_img"><img src="img/head.png"/></div>
            <div class="head_phone">{{user.phone_num}}</div>
        </div>
        <div class="list_div">
        	<!---费用Σ( ° △ °|||)︴---->
            <div class="list_div01">
                <div class="list_lr"></div>
                <div class="list01">
                    <div class="list01_left"></div>
                    <div class="list01_mid">
                        <div class="mid_title">费用</div>
                        <div class="mid_cent">
                            <div class="mid_cent_up">已骑行{{order.mileage}}公里</div>
                            <div class="mid_cent_down">已使用（{{order.cost_time/60|number:2}}）小时</div>
                        </div>
                        <div class="mid_nub">{{order.price}}</div>
                    </div>
                    <div class="list01_right"></div>
                </div>
                <div class="list_lr"></div>
            </div>
            <!---o(￣ヘ￣o#)---->
            <div class="list_div01">
            	<div class="list_lr"></div>
                <div class="list01">
                	<div class="list03_left"></div>
                    <div class="list03_mid">
                    	<div class="list03_up">
                        	<div class="list03_div mt10">剩余电量</div>
                            <div class="list03_div mt10">消费后余额</div>
                            <div class="list03_div mt10">可获得积分</div>
                            <div class="list03_div mt10 boder_right">车辆状态</div>
                        </div>
                        <div class="list03_down">
                        	<div class="list03_div">{{bike.cur_power}}%</div>
                            <div class="list03_div">{{user.balance - order.price}}</div>
                            <div class="list03_div">{{order.price}}</div>
                            <div class="list03_div boder_right">良好</div>
                        </div>
                    </div>

                    <div class="list03_right"></div>
                </div>
                <div class="list_lr"></div>
            </div>
            <!---按钮(•̀ᴗ•́)و ---->
            <div class="list_div04">
            	<div class="list_lr04"></div>
              	<div class="list04">
                	<!---解锁(•̀ᴗ•́)و ---->
                	<div class=" list04_button mr6 mb40" ng-click="lockBike(bike)">
                    	<div class="list04_but_lf"></div>
                          <div class="list04_but_mid">
                                <div class="list04_but_icon"><img src="img/icon02.png" /></div>
                                <div class="list04_but_title">{{bike.nextLockState}}</div>
                          </div>
                        <div class="list04_but_rt"></div>
                    </div>
                    <!---鸣笛o(*￣︶￣*)o ---->
                    <div class=" list04_button mb40" ng-click="bikeVoice(bike)">
                    	<div class="list04_but_lf"></div>
                          <div class="list04_but_mid">
                                <div class="list04_but_icon"><img src="img/icon03.png" /></div>
                                <div class="list04_but_title">鸣笛</div>
                          </div>
                        <div class="list04_but_rt"></div>
                    </div>
                    <!---亮灯(｡˘•ε•˘｡) ---->
                    <div class=" list04_button mr6  mb40" ng-click="bikeLight(bike)">
                    	<div class="list04_but_lf"></div>
                          <div class="list04_but_mid">
                                <div class="list04_but_icon"><img src="img/icon04.png" /></div>
                                <div class="list04_but_title">亮灯</div>
                          </div>
                        <div class="list04_but_rt"></div>
                    </div>
                    <!---还车(ಥ _ ಥ) ---->
                    <div class=" list04_button  mb40" ng-click="finishOrderBike()">
                    	<div class="list04_but_lf"></div>
                          <div class="list04_but_mid">
                                <div class="list04_but_icon"><img src="img/icon05.png" /></div>
                                <div class="list04_but_title">还车</div>
                          </div>
                        <div class="list04_but_rt"></div>
                    </div>
                    <!---求救电话 c⌒っﾟДﾟ)っ ---->
                    <div class=" list05_button">
                    	<div class="list05_but_lf"></div>
                          <div class="list05_but_mid"><a href="tel:4001234567" mce_href="tel:4001234567" style="color: #fff">求救电话</a></div>
                        <div class="list05_but_rt"></div>
                    </div>
                </div>
                <div class="list_lr04"></div>
            </div>
            
        </div>
    </div>

    <div class="loading" ng-show="user_load_ok==false"><img src="img/loading.png" alt="" width="50" height="50"
                                                            class="loading"/>
    </div>

    <div style="height: 140px"></div>
    <nav  id="bottom-nav">
        <div class="row" >

            <div class="col-xs-6 col-sm-6">
                <a href="panel.html"><span class="bottom-nav-img glyphicon glyphicon-globe"></span>
                    <span class="bottom-nav-title" >寻车</span></a>
            </div>

            <div class="col-xs-6 col-sm-6">
                <a href="bikeInfo.html"><span class="bottom-nav-img glyphicon glyphicon-ok"></span>
                    <span class="bottom-nav-title" >我的车</span></a>
            </div>

        </div>
    </nav>
</body>
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp&libraries=convertor"></script>
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<script src="http://cdn .bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/utile/commonUtils.js"></script>
<script src="js/app.js"></script>
<script src="js/service/bikeService.js"></script>
<script src="js/service/userService.js"></script>
<script src="js/service/geoService.js"></script>
<script src="js/service/wxService.js"></script>
<script src="js/ctrl/bikeInfoCtrl.js"></script>
</html>
