<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=0;">

    <!--公共样式-->
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!--公共JS-->
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>


    <!--私有样式-->
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/password.css">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" id="top-nav">
        找回密码
    </nav>
    <div class="content" ng-controller="passwordController">
        <div class="section-1">
            <form id="fpsw_form" name="fpsw_form" ng-submit="findpassword(ph,pw,cc)" novalidate>
                <input type="text" name="ph" class="form-control"  ng-model="ph" placeholder="输入要找回的手机号码"
                       autocomplete="off" required ng-pattern="/^1\d{10}$/">
                <input type="password" name="pw" class="form-control"  ng-model="pw" placeholder="输入更改后的密码 6-20 字母 数字 下划线"
                       autocomplete="off" ng-minlength="6" ng-maxlength="20" required>
                <div class="row">
                    <div class=" col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <input name="cc" class="form-control" ng-model="cc" placeholder="输入6位验证码"
                           autocomplete="off" required ng-maxlength="6" ng-minlength="6" >
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <a id="sendCode" class="text-center text-left" ng-click="sendCode(ph)"
                           ng-show="sendCode_show && !fpsw_form.ph.$invalid"><h4>发送验证码</h4></a>

                        <div ng-show="countdown>0" style="padding-top: 8px;color: red;">
                            等等{{countdown}}秒后，可重新发送
                        </div>
                    </div>
                </div>

                <button class="btn btn-lg btn-success btn-block" ng-disabled="fpsw_form.$invalid">更改密码</button>

                <!--ERROR区-->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 input-group-lg error">
                    <div ng-show="fpsw_form.pw.$dirty && fpsw_form.pw.$invalid">
                        密码不合法
                    </div>

                    <div ng-show="fpsw_form.ph.$dirty && fpsw_form.ph.$invalid">
                        手机号不合法
                    </div>

                    <div ng-show="fpsw_form.cc.$dirty && fpsw_form.cc.$invalid">
                        验证码不合法，请输入6位验证码
                    </div>

                </div>
            </form>
        </div>



    </div>

    <footer>
        <!--MVC ANGULAR JS -->
        <script src="js/lib/crypto/sha1.js"></script>
        <script src="js/lib/crypto/core-min.js"></script>
        <script src="js/lib/crypto/enc-base64-min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/service/userService.js"></script>
        <script src="js/ctrl/passwordCtrl.js"></script>
    </footer>
</body>
</html>